.contacts-title {
  color: var(--title-main);
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  margin-bottom: 22px;
}
.contacts-container {
  display: flex;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 30px;
  max-width: 391px;
  &__input {
    width: 391px;
    height: 46px;
    background-color: var(--bcg-third);
    border: none;
    padding: 15px 21px;
    &:focus {
      outline: solid var(--bcg-third);
    }
  }
  &__textarea {
    width: 391px;
    height: 147px;
    resize: none;
    background-color: var(--bcg-third);
    border: none;
    padding: 15px 21px;
    margin-bottom: 22px;
    &:focus {
      outline: solid var(--bcg-third);
    }
  }
}

// custom checkbox
.contacts-form-agreement-container__check-icon {
  opacity: 0;
  position: absolute;
  transition-property: opacity;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
  }
}

.contacts-form-agreement-container__uncheck-icon {
  transition-property: opacity;
  transition-duration: 350ms;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
  }
}

.contacts-form-agreement-container__checkbox:checked
  + .contacts-form-agreement-container__text
  .contacts-form-agreement-container__check-icon {
  opacity: 1;
  position: static;
}
.contacts-form-agreement-container__checkbox:checked
  + .contacts-form-agreement-container__text
  .contacts-form-agreement-container__uncheck-icon {
  opacity: 0;
  position: absolute;
}

.contacts-form-agreement-container__text {
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  &:hover {
    cursor: pointer;
  }
}

.btn-container {
  width: 221px;
  height: 71px;
  background-color: var(--bcg-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.7;
  }
  &__btn {
    margin-right: 12px;
    background: none;
    border: none;
    color: var(--bcg-main);
    font-size: 12px;
    line-height: calc(12 / 12);
    letter-spacing: 2.4px;
    text-transform: uppercase;
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}

.contacts-bcg-image {
  width: 749px;
  height: 369px;
  background: var(--title-main);
  background-image: url("../../images/contacts/image\ 12contscts-img.png");
  background-size: cover;
}
