body {
  background-color: var(--bcg-main);
  color: var(--text-main);
  font-family: var(--font-main);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
