:root {
  --bcg-main: #ffffff;
  --bcg-secondary: #2c2c2c;
  --bcg-third: #f3f3f3;
  --bcg-firth: #fbfbfb;
  --title-main: #bdbdbd;
  --text-main: #333333;
  --font-main: "Montserrat", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --font-third: "Gothic A1", sans-serif;
}
